.main{
    text-align: center;
    color: white;
    top:5%;
    position: relative;
    font-size: 20px;
}
.text10{
    font-style: italic;
    font-size: 15px;
    color: red;
}
.timeinput{
    margin-bottom:50px;

}
.confirmbutton{
    background-color: green;
    border-radius: 100px;
    width: 25%;
    font-size: 30px ;
    font-weight: bold;
    color: white;
    height: 100px;
    cursor: pointer;

}
.confirmbutton:hover{
    transform: scale(1.2);
}
.buttontext{
    color: white;
}

.checkicon{
    border-radius: 25px;
    background: lightgreen;
}

.reservationheader{
    text-align: center;
    color: rgb(241, 191, 98);
    font-size: 80px;

}